@model IEnumerable<Sir.HttpServer.Controllers.SearchResultModel>

@{
    ViewData["Title"] = "Multiline query - Did you go go?";
    Layout = "~/Views/_Layout.cshtml";

    IList<Sir.HttpServer.Controllers.SearchResultModel> docs = Model == null ?
        new Sir.HttpServer.Controllers.SearchResultModel[0].ToList() : Model.ToList();
}
<div>
    @using (Html.BeginRouteForm("default", new { controller = "Search" }, FormMethod.Get))
{
    <textarea style="float:left;" id="q" name="q" placeholder="@("title:Rambo\r\n-body:first blood")" value="@ViewData["q"]"></textarea>
    <input type="submit" value="Go" />}
</div>

<br style="clear:both;"/>

@if (ViewData["time_ms"] != null)
{
<h3>@docs.Count results for '@ViewData["q"]' in '@ViewData["collectionName"]' (@ViewData["time_ms"] ms)</h3>
<div>
    <ol>
    @foreach (var item in docs)
    {
        <li>
            <p>
                <a class="result-link" href="@item.Document["_url"].ToString()">@item.Document["title"].ToString()</a>
                <span>@item.Document["_site"]</span><br />
                <span>Score: @item.Document["__score"]</span><br />
                <span>Indexed @DateTime.FromBinary((long)item.Document["_created"])</span>
            </p>
        </li>
    }
    </ol>
</div>
}
<div>
    <p>
        @*<a href="/add">Submit page</a> to the public "www" index.*@
    </p>
</div>