@{ 
    var progress = (double)ViewBag.DocumentCount / ((long)56000 * 44000) * 100;
    var mDocs = (double)ViewBag.DocumentCount/1000000;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title @ViewBag.Collection - Crawl Crawler</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/theme.css">
</head>
<body>
    <div class="outer-container">
        <div class="logo2"><a href="/?collection=cc_wat">Crawl Crawler</a></div>
        @RenderBody()
    </div>
    <footer>
        <div>
            <p><a href="/about">About</a> | <a href="/faq">FAQ</a> | <a href="/toc">Terms</a> | <a href="/contact">Contact</a> | <a href="/donate">Donate</a></p>
        </div>
        <div>
            <p>
                Independent, non-tracking search
                powered by <a href="https://github.com/kreeben/resin" title="Resin Extensible Search Engine">Resin Extensible Search Engine.</a>
            </p>
            <p>
                Coverage: @progress.ToString("0.##")% (@mDocs.ToString("0.##")M documents).
            </p>
        </div>
        <div>
            <p></p>
        </div>
        <div>
            
        </div>
    </footer>
</body>
</html>