<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
</head>
<body>
    <style>
        body {
            padding: 0px 0px 0px 0px;
            margin: 0px 0px 0px 10px;
            font-family: sans-serif;
        }

        .sub {
            font-size: small;
            color: orangered;
        }

        sup {
            font-size: xx-small;
            color: orangered;
        }

        a {
            text-decoration: none;
            color: orangered;
        }

            a.result-link {
                color: mediumblue;
            }

                a.result-link:visited {
                    color: purple;
                }

        input[type=text] {
            width: 480px;
        }

        @@media only screen and (max-width: 700px) {
            input[type=text] {
                width: 70%;
            }
        }

        @@media only screen and (max-width: 500px) {
            input[type=text] {
                width: 60%;
            }
        }

        @@media only screen and (max-width: 400px) {
            input[type=text] {
                width: 50%;
            }
        }

        @@media only screen and (max-width: 310px) {
            input[type=text] {
                width: 40%;
            }
        }

        textarea {
            width: 250px;
            height: 150px;
        }

        h1 {
            margin-top: 10px;
            margin-bottom: 12px;
        }

        h3 {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        p {
            margin-bottom: 25px;
        }

        span.upvote {
            font-size: 0.8em;
            color: orangered;
        }

        h1.logo {
            margin-top: 0px;
        }

        #slogan {
            margin-top: 0px;
            margin-bottom: 16px;
        }

        .medium-text {
            font-size: 10pt;
        }

        footer {
            font-size: 10pt;
        }

            footer span {
                padding-top: 10px;
            }

            footer a {
                text-decoration: none;
                color: gray;
            }

            footer p {
                margin-top: 8px;
                margin-bottom: 0px;
            }
    </style>
    <a href="/" title="Go.go!"><h1 class="logo">Go<span class="sub">.</span>go!</h1></a>
    <p id="slogan">Your non-tracking indie search engine.</p>
    <div>
        @RenderBody()
    </div>
    <footer>
        <div>
            @if (ViewData["doc_count"] != null)
            {
                <p>Index size: @ViewData["doc_count"] documents</p>
            }
            @if (ViewData["last_processed_url"] != null)
            {
                <p>Last crawled: <a href="@ViewData["last_processed_url"]">@ViewData["last_processed_title"]</a></p>
            }
            <p>Powered by <a href="https://github.com/kreeben/resin">Resin</a>.</p>
        </div>
    </footer>
</body>
</html>