<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/theme.css">
</head>
<body>
    <a href="/" title="Go.go!"><h1 class="logo">Go<span class="sub">&#9632;</span>go!</h1></a>
    <p id="slogan">Your non-tracking indie search engine.</p>
    <div>
        @RenderBody()
    </div>
    <footer>
        <div>
            @if (ViewData["doc_count"] != null)
            {
                <p>Index size: @ViewData["doc_count"] documents</p>
            }
            @if (ViewData["last_processed_url"] != null)
            {
                <p>Last crawled: <a href="@ViewData["last_processed_url"]">@ViewData["last_processed_title"]</a></p>
            }
            <p>Powered by <a href="https://github.com/kreeben/resin">Resin</a>.</p>
        </div>
    </footer>
</body>
</html>