<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
</head>
<body>
    <style>
        body{
            font-family: sans-serif;
        }
        a {
            text-decoration: none;
            color: orangered;
        }
        a.result-link {
            color: mediumblue;
        }
        a.result-link:visited {
            color: purple;
        }
        input[type=text] {
            width: 300px;
        }
        textarea {
            width: 300px;
            height: 150px;
        }
        footer {
            border-top: 1px solid black;
        }

        footer span{
            padding-top: 10px;
        }
        footer a {
            text-decoration: none;
            color: gray;
        }
    </style>
    <a href="/"><h1>Did you go go?</h1></a>
    <p>No tracking. Just web search.</p>
    <div>
        @RenderBody()
    </div>
    <footer>
        <div>
            @if (ViewData["doc_count"] != null)
            {
                <p>Index size: @ViewData["doc_count"] documents</p>
            }
            @if (ViewData["last_processed_url"] != null)
            {
                <p>Last crawled: <a href="@ViewData["last_processed_url"]">@ViewData["last_processed_title"]</a></p>
            }
            <p>Powered by <a href="https://github.com/kreeben/resin">Resin</a>.</p>
            <p><a href="https://github.com/kreeben/resin/issues">Issue tracker</a>.</p>
        </div>
    </footer>
</body>
</html>