<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title @ViewBag.Collection - Resin Extensible Search Engine</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/theme.css">
</head>
<body>
    <a href="/?collection=@ViewBag.Collection" title="@ViewBag.Collection"><h1 class="logo">@ViewBag.Collection</h1></a>
    <div>
        @RenderBody()
    </div>
    <footer>
        <div>
            <p>Non-tracking search (powered by <a href="https://github.com/kreeben/resin" title="Resin v0.3">Resin</a>).</p>
            @if (ViewData["doc_count"] != null)
            {
                <p>Index size ~ @ViewData["doc_count"] documents</p>
            }
            @if (ViewData["last_processed_url"] != null)
            {
                <p>Last crawled: <a href="@ViewData["last_processed_url"]">@ViewData["last_processed_title"]</a></p>
            }
            <p>
                <a href="/submit/page?collection=@ViewBag.Collection">Submit URL</a>
                @if (!string.IsNullOrWhiteSpace(ViewBag.Collection as string) && ViewBag.Collection != ViewBag.DefaultCollection)
                {
                  <span>&#8901;</span> <a href="/">Resin Search<sup>@ViewBag.DefaultCollection</sup></a>
                }
            </p>
        </div>
    </footer>
</body>
</html>