<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title &#485;o|&#485;o @ViewBag.Collection</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/theme.css">
</head>
<body>
    <a href="/?collection=@ViewBag.Collection" title="&#484;o|&#485;o @ViewBag.Collection"><h1 class="logo">&#485;o<span style="color:silver;">|</span>&#485;o<sup style="color:silver;">@ViewBag.Collection</sup></h1></a>
    <div>
        @RenderBody()
    </div>
    <footer>
        <div>
            <p>Independent, non-tracking search engine powered by <a href="https://github.com/kreeben/resin" title="Resin v0.3a">Resin</a>.</p>
            @if (ViewData["doc_count"] != null)
            {
                <p>Index size ~ @ViewData["doc_count"] documents</p>
            }
            @if (ViewData["last_processed_url"] != null)
            {
                <p>Last crawled: <a href="@ViewData["last_processed_url"]">@ViewData["last_processed_title"]</a></p>
            }
            <p>
                <a href="/queryparser?collection=@ViewBag.Collection&q=trump%20tower&fields=title&fields=body&skip=0&take=10&and=and">Create language model</a>
                <span>&#8901;</span> <a href="/submit/page?collection=@ViewBag.Collection">Submit URL</a>
                @if (!string.IsNullOrWhiteSpace(ViewBag.Collection as string) && ViewBag.Collection != ViewBag.DefaultCollection)
                {
                  <span>&#8901;</span> <a href="/">&#485;o|&#485;o<sup>@ViewBag.DefaultCollection</sup></a>
                }
            </p>
        </div>
    </footer>
</body>
</html>