@{
    Layout = "~/Views/_Layout.cshtml";
}
@{ 
    var searchLink = $"{Context.Request.Path.Value.ToLower().Replace("/saveas", "/search")}{Context.Request.QueryString}";
    var collections = ViewBag.Collection ?? Context.Request.Query["collection"].ToArray();
    var q = (ViewBag.Q ?? Context.Request.Query["q"]).ToString();
    var fields = ViewBag.Field ?? Context.Request.Query["field"].ToArray();
    var job = (string)ViewBag.Job;

    ViewBag.Title = $"Save as - {q} - Crawl Crawler";
} 
    <form action="/saveas/@Context.Request.QueryString" method="post">
        <div class="blog-wrapper">
            <a href="@searchLink">&#8592; Back to result</a>
            <h2>Save result as...</h2>
            <p>
                You may save your result as a new collection. 
                You may also append your result to an existing collection, one that you know by name.
                Select "Truncate" to delete all data from the collection before writing to it.
            </p>
            @if (ViewBag.TargetCollectionValidationError != null)
            {
                <div class="validation-error">@ViewBag.TargetCollectionValidationError</div>
            }
            @if (ViewBag.JobValidationError != null)
            {
                <div class="validation-error">@ViewBag.JobValidationError</div>
            }
            <p>
                <input type="text" placeholder="Collection name" name="target" />
            </p>
            <p>
                <label><input type="checkbox" id="truncate" name="truncate" value="truncate" /> Truncate</label>
            </p>
            <p>
                <input type="password" disabled="disabled" placeholder="Password" name="secret" /><span>(Password protection coming soon.)</span>
            </p>
            <p><input type="submit" /></p>
            <input type="hidden" id="q" value="@q" />
            @foreach (var field in fields)
            {
                <input type="hidden" id="field" value="@field" />
            }
            @foreach (var collection in collections)
            {
                <input type="hidden" id="collection" value="@collection" />
            }
            <input type="hidden" id="id" value="@ViewBag.CrawlId" />
        </div>
    </form>