@{
    Layout = "~/Views/_LayoutStart.cshtml";
    ViewBag.Title = "Create your own personal search engine - CrawlCrawler";
}
@{
    var urlList = Context.Request.Query["urls"].ToList();

    if (urlList.Count == 0)
    {
        urlList.Add("site://en.wikipedia.org/");
    }

    var queryString = Context.Request.QueryString.ToString();

    if (!queryString.StartsWith("?"))
    {
        queryString = $"?{queryString}";
    }

    var errorMessage = Context.Request.Query["errorMessage"].ToString();
}
<div id="create-collection-form">
    <form action="/addurl" method="get">
        <h1>Create your own personalized web search index</h1>
        <p>
            Add some of your favorite pages and sites to a search index that you curate and command over.
            You may add more sites and pages later on and excluding that which you are not interested in is easy.
        </p>
        <h2>Add URLs</h2>
        <p>(Click on an URL to remove it from the list.)</p>
        <p>
            <label>
                <input type="radio" id="scope" name="scope" value="page" checked />
                Single page
            </label>
            <label>
                <input type="radio" id="scope" name="scope" value="site" />
                Site or directory
            </label>
        </p>
        <div>
            @if (errorMessage != null)
            {
                <div><span style="background-color:orangered;font-size:10pt;">@errorMessage</span></div>
            }
            <label>
                <input type="text" placeholder="Enter URL here, e.g. https://mysite.com" id="siteurl" name="url" /><input type="submit" value="Add" name="add" id="add" />
            </label>
            <div id="sitelist">
                @foreach (var url in urlList)
                {
                    var href = $"/deleteurl{queryString}&url={url}&returnUrl=/";
                    <a href="@href">@url</a><br />
                }
            </div>
        </div>
        @foreach (var url in urlList)
        {
            <input type="hidden" name="urls" value="@url" />
        }
        <input type="hidden" name="returnUrl" value="/" />
    </form>
    <form action="/createindex" method="post">
        <p>
            <label>
                <input type="checkbox" name="agree" id="agree" value="yes" />
                I have read and agree to the <a href="/terms">terms of use</a>.
            </label>
        </p>
        <p>
            <input type="submit" class="action-button" value="Create search index" />
        </p>
        @foreach (var url in urlList)
        {
            <input type="hidden" name="urls" value="@url" />
        }
        <input type="hidden" name="returnUrl" value="/" />
    </form>
</div>