@using Sir;
@model Sir.Search.SearchResult
@{
    var jsonDownloadLink = $"{Context.Request.Path.Value.ToLower().Replace("/search", "/query")}{Context.Request.QueryString}";
    var crawlLink = $"{Context.Request.Path.Value.ToLower().Replace("/search", "/crawl")}{Context.Request.QueryString}";
    var saveAsLink = $"{Context.Request.Path.Value.ToLower().Replace("/search", "/saveas")}{Context.Request.QueryString}";
    var ccWetId = "cc_wet".ToHash();
}
@if (Model.Total > 0)
{
    <div class="toolbar-wrapper">
        <span>@Model.Count hits of @ViewData["total"] in @ViewData["time_ms"] ms.</span>
        <span class="toolbar">
            <a href="@jsonDownloadLink" title="Use a HTTP client to GET result as Content-Type application/json">Download</a> as JSON.
            <a href="@saveAsLink" title="Save as">Save as</a> collection.
        </span>
    </div>
    <div class="result-list">
        <ul class="document-list">
            @foreach (var document in Model.Documents)
            {
                var url = document.Get("url").Value.ToString();
                var prefix = url.StartsWith("http") ? string.Empty : "https://";
                var uri = new Uri(prefix + url);
                var host = uri.Host.ToString();
                var path = $"{host}{uri.LocalPath}";
                var title = document.Get("title")?.Value;
                var score = document.Score * 100;

                <li>
                    <div class="document-header">
                        <span>
                            <a class="result-link" href="@Html.Raw(uri.ToString())">@Html.Raw(title)</a>
                        </span>
                    </div>
                    <div class="document-body">
                        <div>
                            <a class="document-subtitle" href="@uri.Scheme://@host"><span class="document-info">@Html.Raw(uri.Scheme)://@Html.Raw(host)</span></a><a class="document-subtitle" href="@uri.Scheme://@path"><span class="medium-text">@Html.Raw(uri.LocalPath)</span></a>
                        </div>
                        <div class="document-stats">
                            <span class="document-info">Score: @score.ToString("0.##")%</span>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
}