@model IEnumerable<Sir.HttpServer.Controllers.SearchResultModel>

@{
    IList<Sir.HttpServer.Controllers.SearchResultModel> docs = Model == null ?
        new Sir.HttpServer.Controllers.SearchResultModel[0].ToList() : Model.ToList();
}
<h3>@docs.Count results of @ViewData["total"] for '@ViewData["q"]' in '@ViewData["collection"]' (@ViewData["time_ms"] ms)</h3>

<div>
    <ol>
        @foreach (var item in docs)
        {
            var url = item.Document.Contains("_url") ? item.Document["_url"].ToString() : "www.unknown.com";
            var host = new Uri("https://" + url).Host.ToString();
            var title = item.Document.Contains("title") ? item.Document["title"].ToString() : "Unknown title";

            <li>
                <div>
                    <div class="document-header">
                        <a href="/upvote/?url=@System.Web.HttpUtility.UrlEncode(url)&q=@ViewData["q"]&collection=@ViewData["collection"]">
                            <div class="upvote" title="upvote">&#9650;</div> 
                        </a>
                        <span><a class="result-link" href="https://@url">@title</a></span>
                    </div>
                    <div class="document-body">
                        <span style="font-weight:bold;color:black;opacity:0.45;font-size:9pt;">@host</span><br />
                        <span class="medium-text">Score: @item.Document["__score"]</span><br />
                        <span class="medium-text">Indexed @DateTime.FromBinary((long)(item.Document["_created"]))</span>
                    </div>
                </div>
            </li>
        }
    </ol>
</div>