@model IEnumerable<Sir.HttpServer.Controllers.SearchResultModel>
@{
    IList<Sir.HttpServer.Controllers.SearchResultModel> docs = Model == null ?
        new Sir.HttpServer.Controllers.SearchResultModel[0].ToList() : Model.ToList();

    var jsonDownloadLink = $"{Context.Request.Path.Value.ToLower().Replace("/search", "/query")}{Context.Request.QueryString}";
    var crawlLink = $"{Context.Request.Path.Value.ToLower().Replace("/search", "/crawl")}{Context.Request.QueryString}";
}
@if (docs.Count > 0)
{
    <div class="download-json-result">
        <span>@docs.Count hits of @ViewData["total"] in @ViewData["time_ms"] ms.</span> <a href="@jsonDownloadLink" title="Use a HTTP client to GET result as Content-Type application/json">Download</a> 
        result as JSON or <a href="@crawlLink">crawl</a>.
    </div>
    <div class="result-list">
        <ul>
            @foreach (var item in docs)
            {
                var url = item.Document["url"].ToString();
                var prefix = url.StartsWith("http") ? string.Empty : "https://";
                var uri = new Uri(prefix + url);
                var host = uri.Host.ToString();
                var title = item.Document.ContainsKey("title") ? item.Document["title"].ToString() : "Unknown title";
                var score = (double)item.Document["___score"];
                var warcFilename = item.Document.ContainsKey("filename") ? item.Document["filename"].ToString() : "";
                var wetFileName = warcFilename.Replace("/warc", "/wet").Replace(".gz", ".wet.gz");
                var wetUrlFileName = "https://commoncrawl.s3.amazonaws.com/" + Html.Raw(wetFileName);
                var warcUrlFileName = "https://commoncrawl.s3.amazonaws.com/" + Html.Raw(warcFilename);
                var wetUrl = "/wet" + Context.Request.QueryString + "&fileName=" + wetUrlFileName;
                var warcUrl = "/warc" + Context.Request.QueryString + "&fileName=" + warcUrlFileName;
                <li>
                    <div class="document-header">
                        <span><a class="result-link" href="@Html.Raw(uri.ToString())">@Html.Raw(title)</a></span>
                    </div>
                    <div class="document-body">
                        <span class="medium-text">@Html.Raw(host)</span><br />
                        <span class="medium-text">Score: @score.ToString("N2")%</span><br />
                        <span class="medium-text">
                            <a class="warc-link" href="@wetUrl">WET</a>                        
                        </span>
                        <span class="medium-text">
                            <a class="warc-link" href="@warcUrl">WARC</a>
                        </span>
                    </div>
                </li>
            }
        </ul>
    </div>
}