@model IEnumerable<Sir.HttpServer.Controllers.SearchResultModel>

@{
    IList<Sir.HttpServer.Controllers.SearchResultModel> docs = Model == null ?
        new Sir.HttpServer.Controllers.SearchResultModel[0].ToList() : Model.ToList();
}
<h3>@docs.Count results of @ViewData["total"] for '@ViewData["q"]' in '@ViewData["collection"]' (@ViewData["time_ms"] ms)</h3>

<div>
    <ol>
        @foreach (var item in docs)
        {
            var host = new Uri("https://" + item.Document["_url"].ToString()).Host.ToString();
            <li>
                <p>
                    <span><a href="http://localhost:54865/label-and-redirect/?url=@Uri.EscapeDataString(item.Document["_url"].ToString())&q=@ViewData["q"]&collection=@ViewData["collection"]">&#94;</a></span>
                    <span><a class="result-link" href="https://@item.Document["_url"].ToString()">@item.Document["title"].ToString()</a></span>
                    <br />
                    <span style="font-weight:bold;color:black;opacity:0.45;font-size:9pt;">@host</span><br />
                    <span class="medium-text">Score: @item.Document["__score"]</span><br />
                    <span class="medium-text">Indexed @DateTime.FromBinary((long)(item.Document["_created"]))</span>
                </p>
            </li>
        }
    </ol>
</div>