@{
    var col = Context.Request.Query["collection"].ToString();
    var query = Context.Request.Query["q"].ToString();
    var knownFields = Context.Request.Query["field"].ToArray();
    var titleSelected = knownFields.Contains("title");
    var descriptionSelected = knownFields.Contains("description");
    var schemeSelected = knownFields.Contains("scheme");
    var hostSelected = knownFields.Contains("host");
    var pathSelected = knownFields.Contains("path");
    var querySelected = knownFields.Contains("query");
    var urlSelected = knownFields.Contains("url");
}
@using (Html.BeginRouteForm("default", new { controller = "Search" }, FormMethod.Get))
{
    <p>
        <input type="text" id="collection" name="collection" class="collection" value="@ViewBag.Collection" title="Enter the names of one or more collections here, separated by commas." />
    </p>
    <fieldset class="search-fields">
        <legend>Search fields</legend>
        <input type="checkbox" name="field" id="title" value="title" @(titleSelected ? "checked" : "") /><label for="title">title</label>
        <input type="checkbox" name="field" id="description" value="description" @(descriptionSelected ? "checked" : "") /><label for="description">description</label>
        <input type="checkbox" name="field" id="scheme" value="scheme" @(schemeSelected ? "checked" : "") /><label for="scheme">scheme</label>
        <input type="checkbox" name="field" id="host" value="host" @(hostSelected ? "checked" : "") /><label for="host">host</label>
        <input type="checkbox" name="field" id="path" value="path" @(pathSelected ? "checked" : "") /><label for="path">path</label>
        <input type="checkbox" name="field" id="query" value="query" @(querySelected ? "checked" : "") /><label for="query">query</label>
        <input type="checkbox" name="field" id="url" value="url" @(urlSelected ? "checked" : "") /><label for="url">url</label>
    </fieldset>
    <input type="text" id="q" name="q" class="q" placeholder="Ask me anything." value="@query" />
    <div class="buttons">
        <button type="submit" value="OR" name="OR" id="or" title="OR">Go <sup>OR</sup></button><button type="submit" value="AND" name="AND" id="and" title="AND">Go <sup>AND</sup></button>
    </div>
    <div style="clear:both;"></div>
    <input type="hidden" value="0" name="skip" id="skip" />
    <input type="hidden" value="100" name="take" id="take" />
}