@{
    var col = Context.Request.Query.ContainsKey("collection") ? Context.Request.Query["collection"].ToString() : "cc_wat";
    var query = Context.Request.Query["q"].ToString();
    var knownFields = Context.Request.Query["field"].ToArray()
                    .SelectMany(x => x.Split(',', StringSplitOptions.RemoveEmptyEntries))
                    .ToArray();
    var titleSelected = knownFields.Contains("title");
    var descriptionSelected = knownFields.Contains("description");
    var schemeSelected = knownFields.Contains("scheme");
    var hostSelected = knownFields.Contains("host");
    var pathSelected = knownFields.Contains("path");
    var querySelected = knownFields.Contains("query");
    var urlSelected = knownFields.Contains("url");

    if (!descriptionSelected && !schemeSelected && !hostSelected && !pathSelected && !querySelected && !urlSelected)
    {
        titleSelected = true;
    }
}

@using (Html.BeginRouteForm("default", new { controller = "Search" }, FormMethod.Get))
{
    <fieldset class="search-fields">
        <legend>
            @if (col == "cc_wat")
            {
                <span>Search <a href="https://commoncrawl.org/the-data/get-started/#WAT-Format">WAT</a> meta-data from <a href="https://commoncrawl.org/">Common Crawl's</a> 
                <a href="@ViewBag.CCTargetUrl">@ViewBag.CCTargetName crawl</a> to find web pages and their corresponding <a href="https://commoncrawl.org/the-data/get-started/#WET-Format">WET</a> and <a href="https://commoncrawl.org/the-data/get-started/#WARC-Format">WARC</a>.</span>;
            }
            else if (col == "cc_wet")
            {
                <span>Search <a href="https://commoncrawl.org/the-data/get-started/#WET-Format">WET</a> file resources</span>;
            }
            else
            {
                <span>Search @col</span>;
            }
        </legend>

        @if (col == "cc_wat")
        {
            <label><input type="checkbox" name="field" id="title" value="title" @(titleSelected ? "checked" : "") />title</label>
            <label><input type="checkbox" name="field" id="description" value="description" @(descriptionSelected ? "checked" : "") />description</label>
            <label><input type="checkbox" name="field" id="scheme" value="scheme" @(schemeSelected ? "checked" : "") />scheme</label>
            <label><input type="checkbox" name="field" id="host" value="host" @(hostSelected ? "checked" : "") />host</label>
            <label><input type="checkbox" name="field" id="path" value="path" @(pathSelected ? "checked" : "") />path</label>
            <label><input type="checkbox" name="field" id="query" value="query" @(querySelected ? "checked" : "") />query</label>
        }

        <label><input type="checkbox" name="field" id="url" value="url" @(urlSelected ? "checked" : "") />url</label>

    </fieldset>
    <div class="input-wrapper">
        <div class="q">
            <input type="text" id="q" name="q" class="q" placeholder="Ask anything." value="@query" />
        </div>
        <div class="buttons">
            <button type="submit" value="OR" name="OR" id="or" title="OR">Go <sup>OR</sup></button><button type="submit" value="AND" name="AND" id="and" title="AND">Go <sup>AND</sup></button>
        </div>
    </div>
    <div style="clear:both;"></div>
    <input type="hidden" value="0" name="skip" id="skip" />
    <input type="hidden" value="100" name="take" id="take" />
    <input type="hidden" value="@col" name="collection" id="collection" />
}