@{
    var collections = Context.Request.Query.ContainsKey("collection")
        ? Context.Request.Query["collection"].ToArray().SelectMany(s => s.Split(',', StringSplitOptions.RemoveEmptyEntries))
        : (string[])ViewBag.DefaultCollection;
    var query = Context.Request.Query["q"].ToString();
    var fields = Context.Request.Query["field"].ToArray()
                    .SelectMany(x => x.Split(',', StringSplitOptions.RemoveEmptyEntries))
                    .ToArray();
    var titleSelected = fields.Contains("title");
    var descriptionSelected = fields.Contains("description");
    var schemeSelected = fields.Contains("scheme");
    var hostSelected = fields.Contains("host");
    var pathSelected = fields.Contains("path");
    var querySelected = fields.Contains("query");
    var urlSelected = fields.Contains("url");

    if (!descriptionSelected && !schemeSelected && !hostSelected && !pathSelected && !querySelected && !urlSelected)
    {
        titleSelected = true;
        descriptionSelected = true;
    }
}

@using (Html.BeginRouteForm("default", new { controller = "Search" }, FormMethod.Get))
{
    <fieldset class="search-fields">
        <legend>
            <span>
                Search <label><input type="checkbox" name="collection" id="collection" value="cc_wat" @(collections.Contains("cc_wat") ? "checked" : "") />WAT</label>
                meta-data <a href="/about">enriched</a> with textual data from <a href="@ViewBag.CCTargetUrl">Common Crawl's</a> 
                <label><input type="checkbox" name="collection" id="collection" value="cc_wet" @(collections.Contains("cc_wet") ? "checked" : "") />WET</label>
                repository and WWW.
            </span>
        </legend>

        <label><input type="checkbox" name="field" id="title" value="title" @(titleSelected ? "checked" : "") />title</label>
        <label><input type="checkbox" name="field" id="description" value="description" @(descriptionSelected ? "checked" : "") />description</label>
        <label><input type="checkbox" name="field" id="scheme" value="scheme" @(schemeSelected ? "checked" : "") />scheme</label>
        <label><input type="checkbox" name="field" id="host" value="host" @(hostSelected ? "checked" : "") />host</label>
        <label><input type="checkbox" name="field" id="path" value="path" @(pathSelected ? "checked" : "") />path</label>
        <label><input type="checkbox" name="field" id="query" value="query" @(querySelected ? "checked" : "") />query</label>
        <label><input type="checkbox" name="field" id="url" value="url" @(urlSelected ? "checked" : "") />url</label>
    </fieldset>
    <div class="input-wrapper">
        <div class="q">
            <input type="text" id="q" name="q" class="q" placeholder="Keywords or phrase" value="@query" />
        </div>
        <div class="buttons">
            <button type="submit" value="OR" name="OR" id="or" title="OR">Go <sup>OR</sup></button><button type="submit" value="AND" name="AND" id="and" title="AND">Go <sup>AND</sup></button>
        </div>
    </div>
    <div style="clear:both;"></div>
    <input type="hidden" value="0" name="skip" id="skip" />
    <input type="hidden" value="100" name="take" id="take" />
    <input type="hidden" value="title" name="select" id="select" />
    <input type="hidden" value="description" name="select" id="select" />
    <input type="hidden" value="url" name="select" id="select" />
    <input type="hidden" value="filename" name="select" id="select" />
}