@{
    Layout = "~/Views/_Layout.cshtml";
}
@{ 
    var searchLink = $"{Context.Request.Path.Value.ToLower().Replace("/crawl", "/search")}{Context.Request.QueryString}";
    var collection = (ViewBag.Collection ?? Context.Request.Query["collection"]).ToString();
    var q = (ViewBag.Q ?? Context.Request.Query["q"]).ToString();
    var field = (ViewBag.Field ?? Context.Request.Query["field"]).ToString();
    var job = (string)ViewBag.Job;
} 
    <form action="/crawl/@Context.Request.QueryString" method="post">
        <div class="blog-wrapper">
            <a href="@searchLink">&#8592; Back to result</a>
            <h2>Enrich search result</h2>
            <p>
                You may enrich this search result with even more text data from Common Crawl or the WWW
                so that the next time you perform this query you'll get even more relevant hits. 
            </p>
            @if (ViewBag.JobValidationError != null)
            {
                <div class="validation-error">@ViewBag.JobValidationError</div>
            }
            <p>
                <label>
                    <input type="radio" name="job" value="ccc" @Html.Raw((job == "cc") ? "checked" : "") />
                    Fetch and index web content from <strong>Common Crawl's</strong> December 2019 crawl.
                </label>
            </p>
            <p>
                <label>
                    <input type="radio" disabled="disabled" name="job" value="wc" @Html.Raw((job == "wc") ? "checked" : "") />
                    Fetch and index up-to-date web content from <strong>WWW</strong> (coming soon).
                </label>
            </p>
            <p>
                <label>
                    <input type="radio" disabled="disabled" name="job" value="rwc" @Html.Raw((job == "rwc") ? "checked" : "") />
                    Fetch and index up-to-date web content from <strong>WWW, recurringly, at a very reasonable fee</strong> (coming soon).
                </label>
            </p>
            <p><input type="submit" /></p>
            <input type="hidden" id="q" value="@q" />
            <input type="hidden" id="field" value="@field" />
            <input type="hidden" id="collection" value="@collection" />
            <input type="hidden" id="id" value="@ViewBag.CrawlId" />
        </div>
    </form>