@{
    Layout = "~/Views/_Layout.cshtml";
}
@{ 
    var searchLink = $"{Context.Request.Path.Value.ToLower().Replace("/crawl", "/search")}{Context.Request.QueryString}";
    var collections = ViewBag.Collection ?? Context.Request.Query["collection"].ToArray();
    var q = (ViewBag.Q ?? Context.Request.Query["q"]).ToString();
    var fields = (ViewBag.Field ?? Context.Request.Query["field"]).ToString();
    var job = (string)ViewBag.Job??"CCC";

    ViewBag.Title = $"Enrich - {q} - Crawl Crawler";
} 
    <form action="/crawl/@Context.Request.QueryString" method="post">
        <div class="blog-wrapper">
            <a href="@searchLink">&#8592; Back to result</a>
            <h1>Enrich search result</h1>
            <p>
                You may enrich this search result with even more text data from Common Crawl or the WWW
                so that the next time you perform this query you'll get even more relevant hits.
            </p>
            @if (ViewBag.JobValidationError != null)
            {
                <div class="validation-error">@ViewBag.JobValidationError</div>
            }
            <p>
                <label>
                    <input type="radio" name="job" value="CCC" @Html.Raw((job == "CCC") ? "checked" : "") />
                    Fetch and index web content from <strong>Common Crawl</strong>.
                </label>
            </p>
            <p>
                <label>
                    <input type="radio" disabled="disabled" name="job" value="wc" @Html.Raw((job == "WC") ? "checked" : "") />
                    Fetch and index up-to-date web content from <strong>WWW</strong> (coming soon).
                </label>
            </p>
            <p>
                <label>
                    <input type="radio" disabled="disabled" name="job" value="rwc" @Html.Raw((job == "RWC") ? "checked" : "") />
                    Fetch and index up-to-date web content from <strong>WWW, recurringly, at a very reasonable fee</strong> (coming soon).
                </label>
            </p>
            <p><input type="submit" /></p>
            <input type="hidden" id="q" value="@q" />
            @foreach (var field in fields)
            {
                <input type="hidden" id="field" value="@field" />
            }
            @foreach (var collection in collections)
            {
                <input type="hidden" id="collection" value="@collection" />
            }
            @foreach (var field in Context.Request.Query["select"].ToArray())
            {
                <input type="hidden" id="select" value="@field" />
            }
            <input type="hidden" name="crawlid" id="crawlid" value="@ViewBag.CrawlId" />
        </div>
    </form>